<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>#{empty pageTitle ? 'Budget' : pageTitle}</title>
    <link rel="icon" href='#{resource["favicon.ico"]}' />
    <h:outputStylesheet name="bootstrap.css" />
    <h:outputStylesheet name="forge-style.css" />
</h:head>

<h:body>
    <ui:debug rendered="#{facesContext.application.projectStage == 'Development'}" />

    <!-- Ez miert van itt? -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>
    
    
    <div class="navbar navbar-fixed-top">
	    <ui:insert name="navbar">
	        <ui:include src="pcz_menu.xhtml" />
	    </ui:insert>
    </div>


    <ui:remove>
        <!-- Ez sem lenne rossz, mellesleg -->
        <ul class="nb-ul">
            <li class="nb-li"><a class="nb-a" href="default.asp">Home</a></li>
            <li class="nb-li"><a class="nb-a" href="news.asp">News</a></li>
            <li class="nb-li"><a class="nb-a" href="contact.asp">Contact</a></li>
            <li class="nb-li"><a class="nb-a" href="about.asp">About</a></li>
        </ul>
    </ui:remove>


    <div class="container forgecontainer">
		<div id="content">
            <h1>
                <ui:insert name="header" />
            </h1>
            <ui:insert name="main" />
        </div>
    </div>

    <footer>
        <div id="footer-wrapper">
            <p>Powered by PPKE ITK &amp; P. Polcz</p>
        </div>
    </footer>

</h:body>
</html>
