<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:composite="http://xmlns.jcp.org/jsf/composite"
    xmlns:of="http://omnifaces.org/functions" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:t="http://myfaces.apache.org/tomahawk"
    xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface>
    <composite:attribute name="date" required="true" />
    <composite:attribute name="amount" required="true" />
    <composite:attribute name="balance" required="true" />
    <composite:attribute name="ca_uid" required="true" />
    <composite:attribute name="catransfer_uid" required="true" />
    <composite:attribute name="cl_uid" required="true" />
    <composite:attribute name="mk_uid" required="true" />
    <composite:attribute name="remark" required="false" />
    <composite:attribute name="remark_extra" required="false" />
    <composite:attribute name="pivot" required="true" />
    <!-- TODO: ez elvileg nem kell ide -->
    <composite:attribute name="type" required="true" />
</composite:interface>

<composite:implementation>
    <h:messages globalOnly="true" styleClass="error" />
    <p:messages id="global_msg" globalOnly="true" showDetail="true" autoUpdate="true" closable="true" />

    <p:message for="date" styleClass="error" />
    <p:calendar id="date" mode="inline" pages="4" value="#{cc.attrs.date}" />

    <p:messages id="globalMessage" closeable="true" styleClass="error" />

    <h:panelGrid columnClasses="label,component" columns="2">



        <h:outputLabel for="amount" value="Amount:" />
        <h:panelGroup>
            <p:inputText id="amount" required="true" value="#{cc.attrs.amount}" style="width:320px">
                <f:validateRequired />
            </p:inputText>
            <br />
            <p:message for="amount" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="balance" value="Balance:" />
        <h:panelGroup>
            <p:inputText id="balance" required="true" value="#{cc.attrs.balance}" style="width:320px">
                <f:validateRequired />
            </p:inputText>
            <br />
            <p:message for="balance" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="ca_uid" value="Charge account:" />
        <h:panelGroup>
            <p:selectOneMenu id="ca_uid" value="#{cc.attrs.ca_uid}" required="true" style="width:320px"
                validator="#{trValidator.validateChargeAccountFrom}" converter="#{mecBean}">
                <f:selectItems value="#{caBean.items}" widgetVar="caWidget" />
            </p:selectOneMenu>
            <br />
            <p:message for="ca_uid" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="cl_uid" value="Name of cluster:" />
        <h:panelGroup>
            <p:selectOneMenu id="cl_uid" value="#{cc.attrs.cl_uid}" required="false" style="width:320px"
                validator="#{trValidator.validateCluster}" converter="#{mecBean}" widgetVar="clusterWidget">
                <f:selectItems value="#{clBean.items}" />
            </p:selectOneMenu>
            <br />
            <p:message for="cl_uid" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="mk_uid" value="Market:" />
        <h:panelGroup>
            <p:selectOneMenu id="mk_uid" value="#{cc.attrs.mk_uid}" required="false" style="width:320px"
                validator="#{trValidator.validateMarket}" converter="#{mecBean}" widgetVar="marketWidget">
                <f:selectItems value="#{mkBean.items}" />
            </p:selectOneMenu>
            <br />
            <p:message for="mk_uid" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="remark" value="Remark:" />
        <h:panelGroup>
            <h:inputText id="remark" required="false" value="#{cc.attrs.remark}">
                <!-- <f:validateRequired /> -->
            </h:inputText>
            <br />
            <p:message for="remark" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="remark_extra" value="Extra remark:" />
        <h:panelGroup>
            <h:inputText id="remark_extra" required="false" value="Not implemented yet" readonly="true">
            </h:inputText>
            <br />
            <p:message for="remark_extra" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="ca_transfer_uid" value="Beneficiary charge account:" />
        <h:panelGroup>
            <p:selectOneMenu id="ca_transfer_uid" required="false" style="width:320px"
                value="#{cc.attrs.catransfer_uid}" validator="#{trValidator.validateChargeAccountTo}"
                converter="#{mecBean}" widgetVar="catransferWidget">
                <f:selectItems value="#{caBean.items}" />
            </p:selectOneMenu>
            <br />
            <p:message for="ca_transfer_uid" styleClass="error" />
        </h:panelGroup>



        <h:outputLabel for="type" value="Transacion type:" />
        <h:panelGroup>
            <p:selectOneButton id="type" value="#{cc.attrs.type}">
                <f:selectItems value="#{transactionBean.types}" />
                <ui:remove>
                    <f:selectItem itemLabel="simple" itemValue="simple" />
                    <f:selectItem itemLabel="pivot" itemValue="pivot" />
                    <f:selectItem itemLabel="transfer" itemValue="transfer" />
                </ui:remove>
            </p:selectOneButton>
        </h:panelGroup>




        <script>
	    $(document).ready(function() {
	        var amount = document.getElementById('search:component:amount');
	        var balance = document.getElementById('search:component:balance');

	        var type = "";
	        var selected = $('input[type=radio][name=search\\:component\\:type]:checked');
	        if (selected.length > 0) {
	            type = selected.val();
	        }

	        function enableDisable(value) {
	            if (value == 'simple')
	            {
	                amount.readOnly = false;
	                balance.readOnly = true;
                    PF('catransferWidget').disable();
                    PF('marketWidget').enable();
                    PF('clusterWidget').enable();
	            }
	            else if (value == 'pivot')
	            {
	                amount.readOnly = true;
	                balance.readOnly = false;
                    PF('catransferWidget').disable();
                    PF('marketWidget').disable();
                    PF('clusterWidget').disable();
	            }
	            else if (value == 'transfer')
	            {
	                amount.readOnly = false;
	                balance.readOnly = true;
                    PF('catransferWidget').enable();
                    PF('marketWidget').disable();
                    PF('clusterWidget').disable();
	            }

	            if (amount.readOnly) amount.value = 0;
	            if (balance.readOnly) balance.value = 0;
	        }
	        enableDisable(type);

	        $('input[type=radio][name=search\\:component\\:type]').change(function() {
	            enableDisable(this.value);
	        });
	    });
		
        // $( "p" ).append( "<strong>Hello</strong>" );
        
        // $('#search\\:component\\:ispivot_input').change(function() {
        //     // javascript-ben nem vagyon nagy szaki
        //     var amount = document.getElementById('search:component:amount');
        //     var balance = document.getElementById('search:component:balance');
        //     // --
        //     amount.readOnly = this.checked;
        //     amount.required = !this.checked;
        //     // --
        //     balance.readOnly = !this.checked;
        //     balance.required = this.checked;
        //     $('#search\\:component\\:cl_uid').attr('disabled', this.checked);
        //     $('#search\\:component\\:mk_uid').attr('disabled', this.checked);
        //     if (this.checked) $('#search\\:component\\:transfer').attr('value', false);
        // });
        
		</script>

    </h:panelGrid>


    <ui:remove>
        <h:outputText value="Selected:" />
        <h:outputText id="display" value="#{selectOneView.option}" style="font-weight: bold" />

        <p>I would like to say:</p>

        <h:outputLabel for="ispivot" value="Is pivot:" />
        <h:panelGroup>
            <p:selectBooleanButton id="ispivot" value="#{cc.attrs.ispivot}" onLabel="Yes" offLabel="No"
                style="width:60px" />
            <h:message for="ispivot" styleClass="error" />
        </h:panelGroup>

        <h:outputLabel for="transfer" value="Transfer:" />
        <h:panelGroup>
            <p:selectBooleanButton id="transfer" value="#{cc.attrs.transfer}" onLabel="Yes" offLabel="No"
                style="width:60px" />
            <h:message for="transfer" styleClass="error" />
        </h:panelGroup>

        <p>I would like to say:</p>
        <script>
        // document.getElementById('search:component:pivot_input').onchange = function() {
        //     $( "p" ).append( "<strong>Hello</strong>" );
        // };
        </script>
    </ui:remove>

</composite:implementation>
</html>
