<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface>
	<composite:attribute name="date" required="true" />
	<composite:attribute name="amount" required="true" />
	<composite:attribute name="ca_uid" required="true" />
	<composite:attribute name="cl_uid" required="true" />
	<composite:attribute name="mk_uid" required="true" />
	<composite:attribute name="remark" required="false" />
	<composite:attribute name="remark_extra" required="false" />
	<composite:attribute name="pivot" required="true" />
</composite:interface>

<composite:implementation>
	<h:messages globalOnly="true" styleClass="error" />

	<h:panelGrid columnClasses="label,component,required" columns="3">
		<h:outputLabel for="date" value="Date:" />
		<h:panelGroup>
			<p:calendar id="inline" mode="inline" pages="4"
				value="#{cc.attrs.date}" />
			<h:message for="date" styleClass="error" />
		</h:panelGroup>
		<h:outputText value="*" />



		<h:outputLabel for="amount" value="Amount:" />
		<h:panelGroup>
			<h:inputText id="amount" required="true" value="#{cc.attrs.amount}"
				readonly="#{cc.attrs.pivot}">
				<f:validateRequired />
			</h:inputText>
			<h:message for="amount" styleClass="error" />
		</h:panelGroup>
		<!-- <h:outputText value="*" /> -->



		<h:outputLabel for="balance" value="Balance:" />
		<h:panelGroup>
			<h:inputText id="balance" required="true" value="#{cc.attrs.balance}"
				readonly="#{not cc.attrs.pivot}">
				<f:validateRequired />
			</h:inputText>
			<h:message for="balance" styleClass="error" />
		</h:panelGroup>
		<!-- <h:outputText value="*" /> -->



		<h:outputLabel for="ca_uid" value="Charge account:" />
		<h:panelGroup>
			<h:selectOneMenu id="ca_uid" required="true"
				value="#{cc.attrs.ca_uid}">
				<f:selectItems value="#{caBean.items}" />
			</h:selectOneMenu>
			<h:message for="ca_uid" styleClass="error" />
		</h:panelGroup>
		<h:outputText value="*" />



		<h:outputLabel for="cl_uid" value="Name of cluster:" />
		<h:panelGroup>
			<h:selectOneMenu id="cl_uid" required="true"
				value="#{cc.attrs.cl_uid}">
				<f:selectItems value="#{clBean.items}" />
			</h:selectOneMenu>
			<h:message for="cl_uid" styleClass="error" />
		</h:panelGroup>
		<h:outputText value="*" />



		<h:outputLabel for="mk_uid" value="Market ID:" />
		<h:panelGroup>
			<h:selectOneMenu id="mk_uid" required="true"
				value="#{cc.attrs.mk_uid}">
				<f:selectItems value="#{mkBean.items}" />
			</h:selectOneMenu>
			<h:message for="mk_uid" styleClass="error" />
		</h:panelGroup>
		<h:outputText value="*" />



		<h:outputLabel for="remark" value="Remark:" />
		<h:panelGroup>
			<h:inputText id="remark" required="false" value="#{cc.attrs.remark}">
				<!-- <f:validateRequired /> -->
			</h:inputText>
			<h:message for="remark" styleClass="error" />
		</h:panelGroup>
		<!-- <h:outputText value="*" /> -->



		<h:outputLabel for="remark_extra" value="Extra remark:" />
		<h:panelGroup>
			<h:inputText id="remark_extra" required="false"
				value="Not implemented yet" readonly="true">
			</h:inputText>
			<h:message for="remark_extra" styleClass="error" />
		</h:panelGroup>
		<!-- <h:outputText value="*" /> -->

		<h:outputLabel for="pivot" value="Is pivot:" />
		<h:panelGroup>
			<p:selectBooleanButton id="pivot" value="#{cc.attrs.pivot}"
				onLabel="Yes" offLabel="No" style="width:60px"
				valueChangeListener="#{transactionBean.pivotChanged}" />
			<h:message for="pivot" styleClass="error" />
		</h:panelGroup>
		<h:outputText value="*" />

		<script>
        $('#search\\:component\\:pivot_input').change(function() {
            // javascript-ben nem vagyon nagy szaki
            var amount = document.getElementById('search:component:amount');
            var balance = document.getElementById('search:component:balance');
            // --
            amount.readOnly = this.checked;
            amount.required = !this.checked;
            // --
            balance.readOnly = !this.checked;
            balance.required = this.checked;
		});
		</script>

	</h:panelGrid>

	<ui:remove>
		<p>I would like to say:</p>
		<script>
        // document.getElementById('search:component:pivot_input').onchange = function() {
        //     $( "p" ).append( "<strong>Hello</strong>" );
        // };
        </script>
	</ui:remove>

</composite:implementation>
</html>
