<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<ui:composition template="/resources/scaffold/pageTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:param name="pageTitle" value="Server error"/>
    <ui:define name="header">Oops
    </ui:define>
    <ui:define name="subheader">Hiba történt!
    </ui:define>
    <ui:define name="main">
        <p style="text-align: right; padding-top: 150px">
            <a href="http://jboss.org" target="_blank">
                <img alt="JBoss and JBoss Community" border="0" height="31" src="#{resource[&quot;jboss-community.png&quot;]}" width="254"/>
            </a>
            <br/>To replace this page edit 'src/main/webapp/error.xhtml', or
            keep Forging!</p>
    </ui:define>
</ui:composition>