<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<ui:param name="pageTitle" value="Webshop" />

	<ui:define name="header">
		Üdv a boltban!
	</ui:define>

	<ui:define name="main">
		<h2 class="success">
			Webshop
		</h2>
		<p>
		</p>
	</ui:define>

</ui:composition>