<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<ui:composition template="/resources/scaffold/pageTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:mycomponents="http://xmlns.jcp.org/jsf/composite/mycomponents"
	xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:param name="pageTitle" value="Transactions" />
	<ui:define name="header">Transactions</ui:define>
	<ui:define name="subheader">Create new transaction
    </ui:define>
	<ui:define name="main">
		<h:form id="search">
			<h:panelGroup styleClass="search">
                <mycomponents:editTransactionComp id="component"
                    cl_uid="#{transactionBean.clUid}"
                    date="#{transactionBean.date}"
                    amount="#{transactionBean.amount}"
                    balance="#{transactionBean.balance}"
                    ca_uid="#{transactionBean.caUid}"
                    mk_uid="#{transactionBean.mkUid}"
                    pivot="#{transactionBean.pivot}"
                    remark="#{transactionBean.remark}" 
                    remark_extra="#{transactionBean.remark}" />
				<div class="buttons">
					<h:commandButton action="#{transactionBean.add()}"
						styleClass="btn btn-primary" value="Submit changes" />
				</div>
			</h:panelGroup>
            <h:outputLabel value="#{transactionBean.ID}" />
		</h:form>
	</ui:define>
</ui:composition>


<!-- 
<ui:remove>
<ui:composition template="/resources/scaffold/pageTemplate.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:mycomponents="http://xmlns.jcp.org/jsf/composite/mycomponents"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:param name="pageTitle" value="Felhasználó létrehozása" />
    <ui:define name="header">Transactions</ui:define>
    <ui:define name="subheader">Create new transaction
    </ui:define>
    <ui:define name="main">
        <h:form id="search">
            <h:panelGroup styleClass="search">
                <mycomponents:editTransactionComp
                    tr_clname="#{transactionBean.trClname}"
                    tr_date="#{transactionBean.trDate}"
                    tr_amount="#{transactionBean.trAmount}"
                    tr_caid="#{transactionBean.trCaid}"
                    tr_mkname="#{transactionBean.trMkname}"
                    tr_remark="#{transactionBean.trRemark}"
                    tr_remark_extra="#{transactionBean.trRemarkExtra}" />
                <div class="buttons">
                    <h:commandButton action="#{transactionBean.addOrUpdateTr()}"
                        styleClass="btn btn-primary" value="Submit changes" />
                </div>
            </h:panelGroup>
            <h:outputLabel value="#{transactionBean.ID}" />
        </h:form>
    </ui:define>
</ui:composition>
</ui:remove>
 -->