<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<ui:composition template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:of="http://omnifaces.org/functions"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<f:event listener="#{transactionBean.list}" type="preRenderView" />

	<ui:param name="pageTitle" value="List of transactions" />
	<ui:define name="header">Transactions</ui:define>

	<ui:define name="main">
		<h:outputLabel value="#{transactionBean.ID}" />
		<h:form id="search">
			<div class="buttons">
				<h:commandButton action="#{transactionBean.create}"
					styleClass="btn btn-primary" value="New transaction" />
			</div>
			<h2>Manage transactions</h2>

			<h:outputText value="Filter by&nbsp;&nbsp;&nbsp;&nbsp;" style="font-weight:bold; font-size: 16px" />
			<h:outputText value="Charge account:&nbsp;&nbsp;"/>
			<h:selectOneMenu id="ca_uid" required="true" onchange="submit()" valueChangeListener="#{transactionBean.caChanged}">
				<f:selectItems value="#{caBean.items}" />
			</h:selectOneMenu>
			<h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;Name of cluster:&nbsp;&nbsp;" />
			<h:selectOneMenu id="cl_uid" required="true" onchange="submit()" valueChangeListener="#{transactionBean.clChanged}">
				<f:selectItems value="#{clBean.items}" />
			</h:selectOneMenu>
			<h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;Market ID:&nbsp;&nbsp;" />
			<h:selectOneMenu id="mk_uid" required="true" onchange="submit()" valueChangeListener="#{transactionBean.mkChanged}">
				<f:selectItems value="#{mkBean.items}" />
			</h:selectOneMenu>


			<h:dataTable id="customerList" styleClass="data-table"
				value="#{transactionBean.list}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Date" />
					</f:facet>
					<h:outputText id="tr_date"
						value="#{of:formatDate(_item.date, 'yyyy-MM-dd')}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Amount" />
					</f:facet>
					<h:outputText id="cl_desc" value="#{_item.amount}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Balance" />
					</f:facet>
					<h:outputText id="balance" value="#{_item.balance}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Caid" />
					</f:facet>
					<h:outputText id="ca" value="#{_item.ca.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Cluster" />
					</f:facet>
					<h:outputText id="cluster" value="#{_item.cluster.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Market" />
					</f:facet>
					<h:outputText id="market" value="#{_item.market.name}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Remark" />
					</f:facet>
					<h:outputText id="cl_dir" value="#{_item.remark}" />
				</h:column>
				<h:column>
					<h:commandButton action="#{transactionBean.edit(_item.uid)}"
						styleClass="btn btn-primary" value="Edit" />
					<ui:remove>
						<h:commandButton action="#{transactionBean.edit(_item.uid)}"
							styleClass="btn btn-primary" value="Edit" />
					</ui:remove>
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
</ui:composition>

<!-- 
<ui:remove>
<ui:composition template="/resources/scaffold/pageTemplate.xhtml"
    xmlns:of="http://omnifaces.org/functions"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:event listener="#{transactionBean.trs}" type="preRenderView" />

    <ui:param name="pageTitle" value="List of transactions" />
    <ui:define name="header">Transactions</ui:define>

    <ui:define name="main">
        <h:outputLabel value="#{transactionBean.ID}" />
        <h:form id="search">
            <div class="buttons">
                <h:commandButton action="#{transactionBean.create}"
                    styleClass="btn btn-primary" value="New transaction" />
            </div>
            <h2>Manage transactions</h2>
            <h:dataTable id="customerList" styleClass="data-table"
                value="#{transactionBean.trs}" var="_item">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Date" />
                    </f:facet>
                    <h:outputText id="tr_date"
                        value="#{of:formatDate(_item.trDate, 'yyyy-MM-dd')}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Code" />
                    </f:facet>
                    <h:outputText id="cl_desc" value="#{_item.trAmount}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Code" />
                    </f:facet>
                    <h:outputText id="cl_parent" value="#{_item.trNewbalance}" />
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Code" />
                    </f:facet>
                    <h:outputText id="cl_dir" value="#{_item.trRemark}" />
                </h:column>
                <h:column>
                    <h:commandButton
                        action="#{transactionBean.editTr(_item.trId)}"
                        styleClass="btn btn-primary" value="Edit" />
                    <ui:remove>
                        <h:commandButton
                            action="#{transactionBean.editTr(_item.trId, _item.trDate, _item.chargeAccount.caId, _item.trAmount, _item.trNewbalance, _item.cluster.clName, _item.market.mkId, _item.trRemark, _item.trRemarkExtra, _item.trPivot, _item.trTmpNewbalance)}"
                            styleClass="btn btn-primary" value="Edit" />
                    </ui:remove>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
</ui:remove>
 -->