<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html
  PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<ui:composition template="/resources/scaffold/pcz_page_template.xhtml"
    xmlns:of="http://omnifaces.org/functions" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="header">Transactions</ui:define>

    <ui:define name="main">
        <ui:remove>
            <h:outputLabel value="#{transactionBean.ID}" />
        </ui:remove>

        <h:form id="search">
            <ui:remove>
        
            <h2></h2>

            <h:outputText value="Filter by&nbsp;&nbsp;&nbsp;&nbsp;" style="font-weight:bold; font-size: 16px" />

            <h:outputText value="Charge account:&nbsp;&nbsp;" />
            <h:selectOneMenu id="ca_uid" value="#{transactionBean.filterCa}" converter="#{mecBean}">
                <f:selectItem itemLabel="Not specified" itemValue="#{null}" />
                <f:selectItems value="#{caBean.items}" />
            </h:selectOneMenu>

            <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;Name of cluster:&nbsp;&nbsp;" />
            <h:selectOneMenu id="cl_uid" value="#{transactionBean.filterCluster}" converter="#{mecBean}">
                <f:selectItem itemLabel="Not specified" itemValue="#{null}" />
                <f:selectItems value="#{clBean.items}" />
            </h:selectOneMenu>

            <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;Market ID:&nbsp;&nbsp;" />
            <h:selectOneMenu id="mk_uid" value="#{transactionBean.filterMarket}" converter="#{mecBean}">
                <f:selectItem itemLabel="Not specified" itemValue="#{null}" />
                <f:selectItems value="#{mkBean.items}" />
            </h:selectOneMenu>

            <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;" />
            <p:commandButton action="#{transactionBean.updateView}" value="Search" id="SearchButton"
                icon="ui-icon-search" ajax="false" />

            <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;" />
            <p:commandButton action="#{transactionBean.create}" style="float:right" value="New transaction"
                id="NewTrButton" icon="ui-icon-plus" />
            </ui:remove>

            <!-- editable="true" editMode="cell" -->
            <!-- http://www.javaknowledge.info/add-edit-delete-row-to-datatable-on-the-fly-using-primefaces/ -->
            <p:dataTable id="trlist" styleClass="data-table" value="#{transactionBean.list}" var="_item"
                rows="25" paginator="true" editable="true" rowsPerPageTemplate="25,50,100" sortMode="multiple"
                rowStyleClass="#{_item.pivot ? 'pivot' : 
                (_item.cluster.name.equals('Athelyezes') ? 'athelyezes' : null)}" resizableColumns="true"
                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} 
                {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                <f:facet name="header">
                    <p:outputPanel style="line-height:28px">
                        <p:selectOneMenu id="ca_uid" value="#{transactionBean.filterCa}"
                            converter="#{mecBean}" style="float:left">
                            <f:selectItem itemLabel="Filter by charge account [from]" itemValue="#{null}" />
                            <f:selectItems value="#{caBean.items}" />
                        </p:selectOneMenu>
                        <p:selectOneMenu id="ca_transfer_uid" value="#{transactionBean.filterCatransfer}"
                            converter="#{mecBean}" style="float:left">
                            <f:selectItem itemLabel="Filter by charge account [to]" itemValue="#{null}" />
                            <f:selectItems value="#{caBean.items}" />
                        </p:selectOneMenu>
                        <p:selectOneMenu id="cl_uid" value="#{transactionBean.filterCluster}"
                            converter="#{mecBean}" style="float:left">
                            <f:selectItem itemLabel="Filter by cluster" itemValue="#{null}" />
                            <f:selectItems value="#{clBean.items}" />
                        </p:selectOneMenu>
                        <p:selectOneMenu id="mk_filter_uid" value="#{transactionBean.filterMarket}"
                            converter="#{mecBean}" style="float:left">
                            <f:selectItem itemLabel="Filter by market" itemValue="#{null}" />
                            <f:selectItems value="#{mkBean.items}" />
                        </p:selectOneMenu>
                        <p:commandButton action="#{transactionBean.updateView}" value="Search"
                            id="SearchButton2" icon="ui-icon-search" ajax="false"
                            style="float:left; height:28px;font-size:0.9em" />
                        <p:commandButton id="NewTrButton" style="float:right;height:28px;font-size:0.9em"
                            action="#{transactionBean.create}" value="New transaction" icon="ui-icon-plus" />

                        <!-- Erre azert van szukseg, hogy a header megtartsa a magassagat (fura ez a css) -->
                        <h:outputText value="&nbsp;&nbsp;&nbsp;&nbsp;" />
                    </p:outputPanel>
                </f:facet>

                <p:ajax event="rowEdit" listener="#{transactionBean.onEdit}" />
                <p:ajax event="rowEditCancel" listener="#{transactionBean.onCancel}" />

                <p:column style="width:35px;text-align:center" headerText="ID" sortBy="#{_item.uid}">
                    <h:outputText id="tr_uid" value="#{_item.uid}" />
                </p:column>

                <p:column style="width:70px;text-align:center" headerText="Date" sortBy="#{_item.date}">
                    <h:outputText id="tr_date" value="#{of:formatDate(_item.date, 'yyyy-MM-dd')}" />
                </p:column>

                <p:column style="width:80px;text-align:right" headerText="Amount" sortBy="#{_item.amount}">
                    <h:outputText id="cl_desc" value="#{_item.amount}">
                        <f:convertNumber pattern="#,##0" locale="pt_BR" />
                    </h:outputText>
                </p:column>

                <p:column style="width:80px;text-align:right" headerText="Balance" sortBy="#{_item.balance}">
                    <h:outputText id="balance" value="#{_item.balance}">
                        <f:convertNumber pattern="#,##0" locale="pt_BR" />
                    </h:outputText>
                </p:column>

                <p:column style="width:70px;text-align:center" headerText="From" sortBy="#{_item.ca.name}">
                    <h:outputText id="ca" value="#{_item.ca.name}" />
                </p:column>

                <p:column style="width:70px;text-align:center" headerText="To" sortBy="#{_item.catransfer.name}">
                    <h:outputText id="catransfer" value="#{_item.catransfer.name}" />
                </p:column>

                <p:column style="width:170px;text-align:center" headerText="Cluster" sortBy="#{_item.cluster.name}">
                    <h:outputText id="cluster" value="#{_item.cluster.name}" />
                </p:column>

                <p:column style="width:170px;text-align:center" headerText="Market">
                    <h:outputText id="market" value="#{_item.market.name}"
                        rendered="#{_item.pivot or _item.cluster.name.equals('Athelyezes')}" />

                    <p:cellEditor
                        rendered="#{not _item.pivot and not _item.cluster.name.equals('Athelyezes')}">
                        <f:facet name="output">
                            <h:outputText id="market_editable" value="#{_item.market.name}" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu id="mk_uid" value="#{_item.market}"
                                style="width:100%;padding:0px;margin:0px;" converter="#{mecBean}">
                                <f:selectItems value="#{mkBean.items}" var="mkitem"
                                    itemLabel="#{mkitem.value}" itemValue="#{mkitem}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column style="min-width:70px;text-align:center" headerText="Remark">
                    <h:outputText id="remark_old" value="#{_item.remark}" rendered="false" />

                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText id="remark_editable" value="#{_item.remark}" />
                        </f:facet>
                        <f:facet name="input">
                            <h:inputText value="#{_item.remark}" id="remark"
                                style="width:100%;padding:0px;margin:0px;" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column style="width:40px;text-align: center" headerText="Pivot">
                    <h:outputText id="pivot" value="#{_item.pivot}" />
                </p:column>

                <p:column style="width:20px;text-align: center">
                    <p:commandLink id="edit" action="#{transactionBean.edit(_item)}" ajax="false">
                        <h:outputText value="Edit" />
                    </p:commandLink>
                </p:column>
                <p:column style="width:50px;text-align: center" rendered="#{request.isUserInRole('ADMIN') }">
                    <p:commandLink id="remove" rendered="#{request.isUserInRole('ADMIN') }"
                        action="#{transactionBean.remove(_item)}" ajax="false"
                        onclick="if (! confirm('Really want to do that?')) return false" class="edit_icon">
                        <h:outputText value="Remove" />
                    </p:commandLink>
                </p:column>

                <p:column style="width:32px" rendered="true">
                    <p:rowEditor />
                </p:column>

            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>
