<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">



	<ui:param name="pageTitle" value="Termékek listája"/>

	<ui:define name="header">
		Termékek
	</ui:define>

	<ui:define name="subheader">
		Termék módositása
	</ui:define>


	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

									
						<h:messages globalOnly="true" styleClass="error"/>

							<h:panelGrid columnClasses="label,component,required" columns="3">
							<h:outputLabel for="productBeanProductProductName" value="Termék neve:"/>
							<h:panelGroup>
							<h:inputText id="productBeanProductProductName" required="true" value="#{productBean.productName}"/>
							<h:message for="productBeanProductProductName" styleClass="error"/>
							</h:panelGroup>
							<h:outputText value="*"/>
							<h:outputLabel for="productBeanProductPrice" value="Termék ára:"/>
							<h:panelGroup>
							<h:inputText id="productBeanProductPrice" required="true" value="#{productBean.price}"/>
							<h:message for="productBeanProductPrice" styleClass="error"/>
							</h:panelGroup>
							<h:outputText value="*"/>
				
						</h:panelGrid>

						<div class="buttons">
								<h:commandButton value="Termék módositása" action='#{productBean.updateProduct}' styleClass="btn btn-primary"/> 
						</div>
		
				</h:panelGroup>
			</f:validateBean>
			
			
		</h:form>
			
	</ui:define>

</ui:composition>
