<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pcz_page_template.xhtml">

	<ui:param name="pageTitle" value="Webshop"/>

	<ui:define name="header">
        Bejelentkezés
	</ui:define>

	<ui:define name="menu">
		
	</ui:define>

	<ui:define name="main">
		<h:form  action="j_security_check"> 
		<h:messages></h:messages>

				<h:panelGrid id="panel" columns="1" columnClasses="label,component,required" width="300" >
					<h:outputLabel for="j_username" value="Felhasználónév" />
					<h:inputText id="j_username" value="#{loginBean.username}" required="true">
					</h:inputText>
					<h:outputLabel for="j_password" value="Jelszó" />
					<h:inputSecret id="j_password" value="#{loginBean.password}" required="true">
					</h:inputSecret>
					<h:outputText value="" />
				</h:panelGrid>

				
				<h:panelGrid columns="2" >
					<h:commandButton id="loginbutton" value="Login" 
						actionListener="#{loginBean.login}" styleClass="btn btn-primary"/>
				</h:panelGrid>
		</h:form>
	</ui:define>

</ui:composition>