<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<ui:composition template="/resources/scaffold/pcz_page_template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
	xmlns:mycomponents="http://xmlns.jcp.org/jsf/composite/mycomponents"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:param name="pageTitle" value="Felhasználó létrehozása" />
	<ui:define name="header">Clusters</ui:define>
	<ui:define name="subheader">Define a cluster
    </ui:define>
	<ui:define name="main">
		<h:form id="search">
			<h:panelGroup styleClass="search">
				<mycomponents:editClusterComp 
				    name="#{clBean.name}"
					sgn="#{clBean.sgn}"
					parentcl="#{clBean.parent}" />
				<div class="buttons">
                    <p:commandButton action="#{clBean.persist()}" ajax="false" value="Submit changes" />
                </div>
			</h:panelGroup>
		</h:form>
	</ui:define>
</ui:composition>