<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

      		<ul>
				<li>
					<h:link outcome="/index.xhtml" value="Főoldal"/>
					<h:link outcome="/cart/view.xhtml" value="Kosaram"/>
					<h:link outcome="/product/view.xhtml" value="Termékek kezelése"/>
					<h:link outcome="/order/view.xhtml" value="Rendelések megtekintése"/>
					<h:link outcome="/customer/view.xhtml" value="Felhasználók kezelése"/>
				</li>
			</ul>

</ui:composition>