<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<ui:param name="pageTitle" value="Server error" />

	<ui:define name="header">
		Oops
	</ui:define>

	<ui:define name="subheader">
		Hiba történt!
	</ui:define>

	<ui:define name="main">
		<p style="text-align: right; padding-top: 150px">
			<a target="_blank" href="http://jboss.org"><img
				src='#{resource["jboss-community.png"]}'
				alt="JBoss and JBoss Community" width="254" height="31" border="0" />
			</a> <br /> To replace this page edit 'src/main/webapp/error.xhtml', or
			keep Forging!
		</p>
	</ui:define>

</ui:composition>
