<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

<ui:param name="pageTitle" value="Webshop"/>

	<ui:define name="header">
		Üdv a boltban!
	</ui:define>

	<ui:define name="subheader">
		<p>
		</p>
	</ui:define>


	<ui:define name="main">
	
		
		<h:form id="search">	
			<h2>
				Kosaram tartalma
			</h2>
			
				<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

									
						<h:messages globalOnly="true" styleClass="error"/>

							<h:panelGrid columnClasses="label,component,required" columns="3">
							<h:outputLabel for="username" value="Felhasználónév:"/>
							<h:panelGroup>
							<h:inputText id="username" required="true" value="#{cartBean.username}"/>
							<h:message for="username" styleClass="error"/>
							</h:panelGroup>
							<h:outputText value="*"/>
							<h:outputLabel for="lastname" value="Vezetéknév:"/>
							<h:panelGroup>
							<h:inputText id="lastname" required="true" value="#{cartBean.lastname}"/>
							<h:message for="lastname" styleClass="error"/>
							</h:panelGroup>
							<h:outputText value="*"/>
							<h:outputLabel for="firstname" value="Keresztnév:"/>
							<h:panelGroup>
							<h:inputText id="firstname" required="true" value="#{cartBean.firstname}"/>
							<h:message for="firstname" styleClass="error"/>
							</h:panelGroup>
							<h:outputText value="*"/>
				
						</h:panelGrid>

						<div class="buttons">
								<h:commandButton value="Megrendelem" action='#{cartBean.addOrder}' styleClass="btn btn-primary"/> 
						</div>
		
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="cartBeanPageItems" styleClass="data-table" value="#{cartBean.cart}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Termék neve"/>
					</f:facet>

						<f:param name="name" value="#{_item.productName}"/>
						<h:outputText id="itemProductName_sl" value="#{_item.productName}"/>

				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Termék ára"/>
					</f:facet>

						<f:param name="name" value="#{_item.productName}"/>
						<h:outputText id="itemPrice_sl" value="#{_item.price}"/>

				</h:column>
			</h:dataTable>
		</h:form>
			
	</ui:define>

</ui:composition>